# Core
public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator
public net.minecraft.client.renderer.RenderType$CompositeState texturingState

# ModelPart
public net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.ModelPart children

# Mesh caching
public net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex

# For Texture based pre-render culling and gpu-based culling
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType state

# Texture based pre-render culling
public net.minecraft.client.renderer.RenderType$CompositeState textureState
public net.minecraft.client.renderer.RenderStateShard$EmptyTextureStateShard cutoutTexture()Ljava/util/Optional;
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard cutoutTexture()Ljava/util/Optional;
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard cutoutTexture()Ljava/util/Optional;

# GPU based culling
public net.minecraft.client.renderer.RenderType$CompositeState cullState
public net.minecraft.client.renderer.RenderStateShard$BooleanStateShard enabled

# Text Rendering
public net.minecraft.client.gui.font.glyphs.BakedGlyph u0
public net.minecraft.client.gui.font.glyphs.BakedGlyph u1
public net.minecraft.client.gui.font.glyphs.BakedGlyph v0
public net.minecraft.client.gui.font.glyphs.BakedGlyph v1
public net.minecraft.client.gui.font.glyphs.BakedGlyph left
public net.minecraft.client.gui.font.glyphs.BakedGlyph right
public net.minecraft.client.gui.font.glyphs.BakedGlyph up
public net.minecraft.client.gui.font.glyphs.BakedGlyph down
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect x0
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect y0
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect x1
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect y1
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect depth
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect r
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect g
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect b
public net.minecraft.client.gui.font.glyphs.BakedGlyph$Effect a
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.gui.Font getFontSet(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet;
public net.minecraft.client.gui.Font filterFishyGlyphs

# Item Rendering
public net.minecraft.client.gui.GuiGraphics renderItem(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/level/Level;Lnet/minecraft/world/item/ItemStack;IIII)V
public net.minecraft.world.inventory.AbstractContainerMenu menuType
public net.minecraft.client.gui.GuiGraphics innerBlit(Lnet/minecraft/resources/ResourceLocation;IIIIIFFFFFFFF)V
public net.minecraft.client.renderer.RenderStateShard$WriteMaskStateShard writeColor
public net.minecraft.client.renderer.RenderStateShard$WriteMaskStateShard writeDepth
public net.minecraft.client.renderer.RenderType$CompositeState shaderState
public net.minecraft.client.renderer.RenderType$CompositeState transparencyState
public net.minecraft.client.renderer.RenderType$CompositeState depthTestState
public net.minecraft.client.renderer.RenderType$CompositeState cullState
public net.minecraft.client.renderer.RenderType$CompositeState lightmapState
public net.minecraft.client.renderer.RenderType$CompositeState overlayState
public net.minecraft.client.renderer.RenderType$CompositeState layeringState
public net.minecraft.client.renderer.RenderType$CompositeState outputState
public net.minecraft.client.renderer.RenderType$CompositeState texturingState
public net.minecraft.client.renderer.RenderType$CompositeState writeMaskState
public net.minecraft.client.renderer.RenderType$CompositeState lineState
public net.minecraft.client.renderer.RenderType$CompositeState colorLogicState
public net.minecraft.client.renderer.RenderType$CompositeState outlineProperty

# Scissor State
public net.minecraft.client.gui.GuiGraphics scissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack stack